

.container{
  max-width: 1000px;
  margin: auto;
}
body{
  background-image: url(/img/pexels-james-wheeler-414612.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
i{
    padding-top: 50px;
    color: whitesmoke;
}
h1{
    color:white;
    font-weight: 600;
    font-size: 35px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #BAC0D6;
}
form{
  padding: 38px 20px;
  height: 250px;
max-width:30%;
float: right;
text-align: center;
border: 0;
margin: -260px 0;
background-color: #F0F1F6;

}
input{
  width: 80%;
  border: 0;
  margin: 10px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
}
h2{
    color:#361f1f;
}
button,.signin{
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: 0;
  
}
.signin{
  background-color: #6057FD;
}
.Early{
  color: #DCDDDF;
}
footer{
padding: 55px 0;

}

.cp-text{
  color: #DCDDDF;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

